.navbar {
    height: 124px;
}

.navbar-nav .nav-link {
    margin-right: 1rem;
}

.auth-buttons .btn {
    margin-left: 0.5rem;
}

.navbar .dropdown-menu {
    min-width: 10rem;
}

/* Center navbar content vertically */
.navbar .container-fluid {
    align-items: center;
    height: 100%;
}

.logo-img {
    width: 100%;
    height: auto;
}

.mg-btn-outline {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-color: #000;
    border-radius: 2rem;
    padding: .75rem 3rem !important;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none !important;
    transition: background-color .2s ease-in !important;
}

.mg-btn-outline:hover {
    color: #000;
    background-color: #f2f2f2;
}
